@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "İlan Sil";
}
@model PropertyViewModel

<div class="flex flex-col gap-y-4">
    <div class="container">
        <div class="row">
            <div class="card max-w-screen-sm w-full mx-auto">
                <div class="card-body flex flex-col gap-y-4">

                    <h5 class="card-title text-2xl font-bold tracking-tight text-danger">
                        "@Model.Title" ilanını silmek istediğinizden emin misiniz?
                    </h5>

                    <p class="text-muted">
                        Bu işlem geri alınamaz. İlan, fotoğrafları ve gerekirse destinasyon bilgileri tamamen silinecektir.
                    </p>

                    <form asp-controller="Admin" asp-action="DeleteProperty" method="post">
                        <input type="hidden" asp-for="Id" />

                        <div class="flex gap-2">
                            <input type="submit" value="Sil" class="btn btn-danger btn-sm" />
                            <a asp-action="Properties" class="btn btn-primary btn-sm">Vazgeç</a>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
