@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Kategori Alanı Ekle";
}
@model CategoryFieldsViewModel

<div class="flex flex-col gap-y-4">

    <div class="container">
        <div class="row">
            <div class="card max-w-screen-sm w-full mx-auto">
                <div class="card-body flex flex-col gap-y-4">
                    <h5 class="card-title text-2xl font-bold tracking-tight">Kategori Alanı Ekle</h5>
                    <form asp-controller="Admin" asp-action="EditCategoryField" method="post" enctype="multipart/form-data">

                        <div class="mb-4">
                            <label asp-for="FieldName"
                                   class="form-label"></label>
                            <input asp-for="FieldName" class="form-control bg-neutral-50" placeholder="Kategori adını girin" />
                            <span asp-validation-for="FieldName" class="text-danger"></span>
                        </div>

                        <div class="mb-2">
                            <label asp-for="CategoryId"> </label>
                            <select asp-for="CategoryId" class="form-control" asp-items="@ViewBag.Categories">
                                <option value="0">-- Kategori Yok --</option>
                            </select>
                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                        </div>

                        <div class="mb-2">
                            <input asp-for="IsActive" class="form-check-inline" />
                            <label asp-for="IsActive"></label>
                            <span class="text-danger" asp-validation-for="IsActive"></span>
                        </div>

                        <div class="mb-4">
                            <input type="submit" class="btn btn-primary" value="Güncelle" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>